@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #FFB000;
    --black:black;
    --bg: black;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;

    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

#cabeçalho{
    position: fixed;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 85px;
    width: 100%;
    left: 0px;
    background-color: #000000;
    z-index: 100;
}

#cabeçalho a{
    text-decoration: none;
    color: #FFB000;
    border-radius: 50%;
    transition: background 0.5s;
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: center;
    font-family: 'Major Mono Display', monospace;
}
#cabeçalho h2{
    font-size: medium;
    bottom: 10px;
}

#cabeçalho h2:hover{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(1.1);
    transition: 0.7s;
    text-shadow: 0px 5px 12px #ffae0088;
}
#cabeçalho h1{
    color: #FFB000;
    font-family: 'Lobster', cursive;
    font-size:45px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 14px;
}
#cabeçalho h3{
    color: #FFB000;
    display: flex;
    position:absolute;
    right: 80px;
    top: 26px;
    font-size: medium;
    border: solid #FFB000 2px;
    border-radius: 12%;
    padding: 5px;
}
#cabeçalho h3:hover{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(1.1);
    transition: 0.5s;
    text-shadow: 0px 5px 12px #ffae0088;
}
#social-links {
    color: #FFB000;
    display: flex;
    position:absolute;
    left: 70px;
    top: 35px;
    gap: 7px;
    font-size: large;
}
#social-links :hover{
    background: rgba(0, 0, 0, 0.227);
    transition: background 0.7s;
    border-radius: 50%;
    padding: 3px;
}
.home2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/Absolute_Reality_v16_dogs_playing_with_cats_3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.4); 
    z-index: 0; 
}
.home2 .content{
    max-width: 40rem;
    z-index: 1; 
    position: relative;
}

.home2 .content h3{
    display: flex;
    position: relative;
    right: 600px;
    top: 222px;
    font-family: 'Lobster', cursive;
    font-size: 10rem;
    color:#fff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-weight: bold;
}

.home2 .content h2{
    display: flex;
    position: relative;
    right: 550px;
    top: 222px;
    font-family: 'Lobster', cursive;
    font-size: 34.4px;
    font-weight: lighter;
    line-height: 1.8;
    padding: 0;
    color:#eee;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-weight: bold;
}
.home2 .content p{
    text-indent: 20px;
    font-family: 'Lilita One', cursive;
    display: flex;
    position:relative;
    text-align:center;
    font-size: 26px;
    color: #dd9c11;
    right: 22px;
    bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(images/dogs_background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-family: 'Lobster', cursive;
    font-size: 10rem;
    color:#fff;
}

.home .content h2{
    font-family: 'Lobster', cursive;
    font-size: 34.4px;
    font-weight: lighter;
    line-height: 1.8;
    padding: 0;
    color:#eee;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content P{
    color: #ccc;
    font-size: medium;
}

.blogs .box-container .box .content h1{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#fffcfc;
    padding:1rem 0;
}

.footer{
    padding: 2;
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}